<div class="container">
  <div class="col-sm-8">
    <h1 class="display-4">Bøger i Bookstore</h1>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/bookstore" role="button">Retur til Bookstore</a>
    </p>
    <p class="lead">Et udvalg af bøger på lager i Bookstore</p>
  </div>
  <div class="col-sm-8 border rounded">
    <table id="books" class="table table-sm">
        <tbody data-testid="books">
      {{#each books}}
        <tr>
          <td>{{this.id}}</td>
          <td><a href="/bookstore/books/{{this.id}}">{{this.title}}</a></td>
          <td>{{this.bookprice}}</td>
          <td>{{this.onhand}}</td>
        </tr>
      {{/each}}
        </tbody>
    </table>
  </div>
</div>

