<div class="content">
  <h1 class="display-4">Kunder i Bookstore</h1>
  <p class="heading">
    <!--suppress HtmlUnknownTarget -->
    <a class="btn btn-primary btn-sm btn-link" href="/" role="button">Retur til Bookstore</a>
  </p>
  <p class="heading">Et udvalg af kunder</p>
  <table id="customers" class="table table-striped">
    <tbody data-testid="users">
    {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td><a href="/api/users/{{this.id}}">{{this.name}}</a></td>
        <td>{{this.city}}</td>
        <td>{{this.state}}</td>
        <td>{{this.mail}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

